div.css-12ttj6m.epcbefy1
{
    background-color:rgb(81, 173, 201)
}

div.css-yzb2at.e13vu3m50
{
    color: rgb(28, 54, 2);
    font-size: 30px;
    text-shadow: 1px 1px red;


}

div.css-183lzff.eyqtai90
{
    background-color: aliceblue;
}

span.css-10trblm.e16nr0p30
{
    font-size: 25px;
    text-shadow: 1px 1px rgb(5, 139, 139);
}

/*Side bar */
label.css-81oif8.effi0qh3
{
    font-size: 15px;
    text-shadow: 1px 1px rgb(5, 139, 139);
}


